@charset "UTF-8";
/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2016-10-18
* Version:0.0.1
* ================================================================== */
html {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
  /*-webkit-text-size-adjust是解决 iPhone 横屏时默认会放大文字的问题*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, body {
  /*-webkit-user-select:none禁止用户进行复制.选择.*/
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  /*使用min-height:100%代替height：100%*/
  height: 100%;
  min-height: 100%; }

body {
  /*弹性滚动-局部滚动开启弹性滚动：将属性挂在body上，可以避免很多奇怪的bug。*/
  overflow: scroll;
  -webkit-overflow-scrolling: touch; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box; }

ol, ul {
  list-style: none;
  /*去掉列表点*/ }

table {
  border-collapse: collapse;
  /*去掉表格的双行线*/
  border-spacing: 0; }

/*取消a标签在移动端点击时的背景颜色*/
a, a:hover, a:active, a:visited, a:link, a:focus {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none; }

input {
  -webkit-appearance: none;
  /*ios去除input默认样式*/ }

/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2017-06-01
* Version:0.0.1
* ================================================================== */
html {
  font-size: 18px; }

@media (min-device-width: 320px) {
  html {
    font-size: 18px; } }
@media (min-device-width: 360px) {
  html {
    font-size: 20.25px; } }
@media (min-device-width: 375px) {
  html {
    font-size: 21.1px; } }
@media (min-device-width: 384px) {
  html {
    font-size: 21.6px; } }
@media (min-device-width: 400px) {
  html {
    font-size: 22.5px; } }
@media (min-device-width: 412px) {
  html {
    font-size: 23.17px; } }
@media (min-device-width: 414px) {
  html {
    font-size: 23.3px; } }
@media (min-device-width: 480px) {
  html {
    font-size: 26.99px; } }
@media (min-device-width: 533px) {
  html {
    font-size: 29.98px; } }
@media (min-device-width: 568px) {
  html {
    font-size: 31.95px; } }
@media (min-device-width: 600px) {
  html {
    font-size: 33.74px; } }
@media (min-device-width: 640px) {
  html {
    font-size: 24px; } }
.wrapper {
  width: 100%;
  max-width: 640px;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  background-color: #f7f7f7; }

.dossen-header-left {
  position: relative; }
  .dossen-header-left:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 3px;
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-bottom: 0;
    border-right: 0;
    margin-top: -5px;
    color: #333;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg); }

.dossen-arrow-bottom {
  position: relative; }
  .dossen-arrow-bottom:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 3px;
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-bottom: 0;
    border-right: 0;
    margin-top: -5px;
    color: #333;
    -webkit-transform: rotateZ(-135deg);
    transform: rotateZ(-135deg); }

.dossen-arrow-right {
  position: relative; }
  .dossen-arrow-right:after {
    content: ' ';
    position: absolute;
    top: 50%;
    right: 5%;
    width: 8px;
    height: 8px;
    border: 1px solid;
    border-bottom: 0;
    border-right: 0;
    margin-top: -4px;
    color: #ccc;
    -webkit-transform: rotateZ(135deg);
    transform: rotateZ(135deg); }

.dossen-pr {
  padding-right: 5%; }

.customer-service-center-wrapper {
  padding-top: 44px;
  background-color: #f7f7f7; }
  .customer-service-center-wrapper .container {
    padding: 3%; }

.customer-service-center-header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 3;
  background-color: #fff;
  padding: 0 3%;
  width: 100%;
  height: 44px;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd; }
  .customer-service-center-header .left {
    width: 10%; }
  .customer-service-center-header h1 {
    width: 80%;
    font: 0.8rem/44px -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    color: #333;
    text-align: center; }

.notice {
  padding: 5%;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: #ffcc00;
  background: -webkit-linear-gradient(left, #ffbb00, #ffcc00);
  /* Safari 5.1 - 6.0 */
  background: linear-gradient(to left, #ffcc00, #ffbb00);
  /* 标准的语法 */ }
  .notice:after {
    color: #fff; }
  .notice i {
    margin-right: .3rem;
    width: 1rem;
    font-size: 0; }
    .notice i img {
      width: 100%; }
  .notice p {
    font: 0.75rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    color: #fff; }

.itinerary, .hot-question, .common-question {
  padding: 5%;
  margin-top: 3%;
  border-radius: 5px;
  background: #fff; }
  .itinerary > .title, .hot-question > .title, .common-question > .title {
    padding-bottom: 5%;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .itinerary > .title h3, .hot-question > .title h3, .common-question > .title h3 {
      font: 0.75rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      color: #666; }
    .itinerary > .title a, .hot-question > .title a, .common-question > .title a {
      padding-right: 5%;
      font: 0.7rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      color: #999; }
      .itinerary > .title a:after, .hot-question > .title a:after, .common-question > .title a:after {
        color: #999; }
  .itinerary .itinerary-swiper-container .swiper-slide, .hot-question .itinerary-swiper-container .swiper-slide, .common-question .itinerary-swiper-container .swiper-slide {
    padding-left: 5%;
    border-radius: 5px;
    background-color: #eee; }
    .itinerary .itinerary-swiper-container .swiper-slide a, .hot-question .itinerary-swiper-container .swiper-slide a, .common-question .itinerary-swiper-container .swiper-slide a {
      padding: 3% 3% 3% 0;
      display: block;
      font: 0.7rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      color: #333;
      border-top: 1px solid #ddd; }
      .itinerary .itinerary-swiper-container .swiper-slide a:last-child, .hot-question .itinerary-swiper-container .swiper-slide a:last-child, .common-question .itinerary-swiper-container .swiper-slide a:last-child {
        color: #999; }
  .itinerary .itinerary-swiper-container .room-info, .hot-question .itinerary-swiper-container .room-info, .common-question .itinerary-swiper-container .room-info {
    padding: 5% 5% 5% 0; }
    .itinerary .itinerary-swiper-container .room-info p, .hot-question .itinerary-swiper-container .room-info p, .common-question .itinerary-swiper-container .room-info p {
      font: 0.65rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      color: #999; }

.hot-question .question-swiper-container .swiper-slide {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px; }
.hot-question .question-swiper-container a {
  padding: .5rem;
  display: block;
  font: 0.65rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #999; }
  .hot-question .question-swiper-container a br {
    font-size: 0;
    inline-height: 0; }

.common-question {
  padding: 5% 0 0 5%; }
  .common-question .items {
    padding: 5% 0;
    border-top: 1px solid #eee; }
    .common-question .items .title {
      padding-bottom: .5rem;
      display: -webkit-flex;
      display: flex;
      align-items: center; }
      .common-question .items .title i {
        margin-right: .5rem;
        width: 1rem;
        font-size: 0; }
        .common-question .items .title i img {
          width: 100%; }
      .common-question .items .title h4 {
        font: 0.8rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
        color: #333; }
    .common-question .items > a {
      display: block;
      font: 0.7rem/1.8 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      color: #666; }

.itinerary-list {
  margin-bottom: 3%;
  display: block;
  padding: 3%;
  background-color: #fff !important;
  border-radius: 5px; }
  .itinerary-list .title {
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
    margin-bottom: .3rem; }
    .itinerary-list .title h3 {
      font: 0.75rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      color: #333;
      flex: 1; }
    .itinerary-list .title span {
      margin-left: .5rem;
      font: 0.65rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      color: #999; }
  .itinerary-list > p {
    font: 0.65rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    color: #999; }

.more-question-title {
  padding: 2% 0 3%;
  font: 0.6rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  color: #999; }

.question-list {
  padding-left: 3%;
  background-color: #fff;
  border-radius: 5px; }
  .question-list a {
    padding: 3% 0;
    display: block;
    font: 0.7rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    color: #333;
    border-bottom: 1px solid #eee; }

.question-info {
  background-color: #fff;
  border-radius: 5px; }
  .question-info .text {
    padding: 5%; }
    .question-info .text h3 {
      margin-bottom: .3rem;
      font: 0.75rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      color: #333; }
    .question-info .text p {
      font: 0.65rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      color: #999; }
  .question-info .btn {
    border-top: 1px solid #eee; }
    .question-info .btn ul {
      display: -webkit-flex;
      display: flex;
      align-items: center; }
      .question-info .btn ul li {
        padding: 3% 0;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        cursor: pointer; }
        .question-info .btn ul li i {
          margin-right: .3rem;
          display: block;
          width: .8rem;
          height: .75rem;
          background: url("../images/upvote1_icon.png") no-repeat;
          background-size: 100% auto; }
        .question-info .btn ul li p {
          font: 0.75rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
          color: #666; }
        .question-info .btn ul li:last-child {
          border-left: 1px solid #eee; }
          .question-info .btn ul li:last-child i {
            display: block;
            width: .8rem;
            height: .75rem;
            background: url("../images/downvote1_icon.png") no-repeat;
            background-size: 100% auto; }
      .question-info .btn ul .active i {
        background: url("../images/upvote2_icon.png") no-repeat;
        background-size: 100% auto; }
      .question-info .btn ul .active p {
        color: #da004c; }
      .question-info .btn ul .active:last-child i {
        background: url("../images/downvote2_icon.png") no-repeat;
        background-size: 100% auto; }

.selected {
  display: none;
  padding: 0 5%;
  margin: 3% 0 0 0;
  background-color: #fff;
  border-radius: 5px; }
  .selected .line {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding: 3% 0;
    border-bottom: 1px solid #eee; }
    .selected .line:last-child {
      border-bottom: 0; }
    .selected .line .circle {
      margin-right: .5rem;
      width: 14px;
      height: 14px;
      border: 1px solid #999;
      border-radius: 100%; }
    .selected .line p {
      flex: 1;
      font: 0.7rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      color: #333; }
  .selected .active .circle {
    position: relative; }
    .selected .active .circle:before {
      position: absolute;
      top: 2px;
      left: 2px;
      content: "";
      width: 8px;
      height: 8px;
      background-color: #999;
      border-radius: 100%; }

.submit-success {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  padding: 1% 5%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  -moz-transform: translate3d(-50%, 3000%, 0);
  -o-transform: translate3d(-50%, 3000%, 0);
  -ms-transform: translate3d(-50%, 3000%, 0);
  -webkit-transform: translate3d(-50%, 3000%, 0);
  transform: translate3d(-50%, 3000%, 0);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .submit-success p {
    font: 0.7rem/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    color: #fff;
    text-align: center; }

.submit-success.on {
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

/*# sourceMappingURL=index.css.map */
