@charset "UTF-8";
/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2016-10-18
* Version:0.0.1
* ================================================================== */
html {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
  /*-webkit-text-size-adjust是解决 iPhone 横屏时默认会放大文字的问题*/
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, body {
  /*-webkit-user-select:none禁止用户进行复制.选择.*/
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  /*使用min-height:100%代替height：100%*/
  height: 100%;
  min-height: 100%; }

body {
  /*弹性滚动-局部滚动开启弹性滚动：将属性挂在body上，可以避免很多奇怪的bug。*/
  overflow: scroll;
  -webkit-overflow-scrolling: touch; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, div, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  /*把所有元素的内边距和边框不再会增加它的宽度*/
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  box-sizing: border-box; }

ol, ul {
  list-style: none;
  /*去掉列表点*/ }

table {
  border-collapse: collapse;
  /*去掉表格的双行线*/
  border-spacing: 0; }

/*取消a标签在移动端点击时的背景颜色*/
a, a:hover, a:active, a:visited, a:link, a:focus {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none; }

input {
  -webkit-appearance: none;
  /*ios去除input默认样式*/ }

/* =================================================================
* Reset Style for Mobile
* Author:雪丘行||Bandow
* Author URI:http://www.unll123.com/
* Date:2017-06-01
* Version:0.0.1
* ================================================================== */
html {
  font-size: 18px; }

@media (min-device-width: 320px) {
  html {
    font-size: 18px; } }
@media (min-device-width: 360px) {
  html {
    font-size: 20.25px; } }
@media (min-device-width: 375px) {
  html {
    font-size: 21.1px; } }
@media (min-device-width: 384px) {
  html {
    font-size: 21.6px; } }
@media (min-device-width: 400px) {
  html {
    font-size: 22.5px; } }
@media (min-device-width: 412px) {
  html {
    font-size: 23.17px; } }
@media (min-device-width: 414px) {
  html {
    font-size: 23.3px; } }
@media (min-device-width: 480px) {
  html {
    font-size: 26.99px; } }
@media (min-device-width: 533px) {
  html {
    font-size: 29.98px; } }
@media (min-device-width: 568px) {
  html {
    font-size: 31.95px; } }
@media (min-device-width: 600px) {
  html {
    font-size: 33.74px; } }
@media (min-device-width: 640px) {
  html {
    font-size: 24px; } }
.wrapper {
  width: 100%;
  max-width: 640px;
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff; }

.dossen-header-left {
  position: relative; }
  .dossen-header-left:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 3px;
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-bottom: 0;
    border-right: 0;
    margin-top: -5px;
    color: #333;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg); }

.dossen-arrow-bottom {
  position: relative; }
  .dossen-arrow-bottom:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 3px;
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-bottom: 0;
    border-right: 0;
    margin-top: -5px;
    color: #333;
    -webkit-transform: rotateZ(-135deg);
    transform: rotateZ(-135deg); }

.dossen-arrow-right {
  position: relative; }
  .dossen-arrow-right:after {
    content: ' ';
    position: absolute;
    top: 50%;
    right: 5%;
    width: 8px;
    height: 8px;
    border: 1px solid;
    border-bottom: 0;
    border-right: 0;
    margin-top: -4px;
    color: #ccc;
    -webkit-transform: rotateZ(135deg);
    transform: rotateZ(135deg); }

.dossen-pr {
  padding-right: 5%; }

.header {
  background: url("../images/bg.jpg") no-repeat;
  background-size: 100% auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11; }
  .header .content-wrapper {
    position: relative;
    padding: 5%;
    display: -webkit-flex;
    display: flex; }
    .header .content-wrapper .avatar {
      margin-right: 10px;
      width: 64px;
      height: 64px;
      font-size: 0; }
      .header .content-wrapper .avatar img {
        width: 100%; }
    .header .content-wrapper .content .title {
      display: -webkit-flex;
      display: flex;
      align-items: center; }
      .header .content-wrapper .content .title span {
        font: 16px/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
        color: #fff; }
      .header .content-wrapper .content .title .brand {
        margin-right: 10px;
        width: 30px;
        font: 10px/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
        text-align: center;
        background: red;
        border-radius: 3px; }
    .header .content-wrapper .content .description {
      font: 12px/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      color: #fff; }
    .header .content-wrapper .content .support {
      display: -webkit-flex;
      display: flex;
      align-items: center; }
      .header .content-wrapper .content .support .decrease {
        margin-right: 10px;
        width: 20px;
        font: 10px/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
        text-align: center;
        background: #fff;
        color: red;
        border-radius: 3px; }
      .header .content-wrapper .content .support .text {
        font: 12px/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
        color: #fff; }
    .header .content-wrapper .supports-count {
      position: absolute;
      right: 12px;
      bottom: 14px;
      padding: 0 8px;
      height: 24px;
      line-height: 24px;
      border-radius: 12px;
      background: rgba(0, 0, 0, 0.2);
      text-align: center; }
      .header .content-wrapper .supports-count span {
        display: block;
        font: 12px/24px -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
        color: #fff;
        margin-right: 10px; }
  .header .bulletin-wrapper {
    position: relative;
    background-color: rgba(7, 17, 27, 0.2);
    height: 28px;
    line-height: 28px;
    padding: 0 22px 0 12px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis; }
    .header .bulletin-wrapper span {
      font: 12px/28px -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      color: #fff; }
    .header .bulletin-wrapper .bulletin-title {
      display: inline-block;
      width: 30px;
      font: 10px/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      text-align: center;
      background: #fff;
      color: #000;
      border-radius: 3px; }

.tab {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 11;
  background: #fff;
  padding: 5px 0;
  border-bottom: 1px solid #eee; }
  .tab .tab-item {
    width: 33.33333%;
    text-align: center; }
    .tab .tab-item a {
      font: 14px/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
      color: red; }

.list {
  display: flex;
  width: 100%;
  padding-bottom: 46px;
  overflow: hidden; }
  .list .menu-wrapper {
    flex: 0 0 80px;
    width: 80px;
    background: #f3f5f7;
    position: fixed;
    bottom: 46px;
    overflow: auto; }
    .list .menu-wrapper ul li {
      display: table;
      width: 80px;
      height: 54px;
      line-height: 14px;
      padding: 0 12px; }
      .list .menu-wrapper ul li .text {
        display: table-cell;
        width: 56px;
        vertical-align: middle;
        position: relative;
        font-size: 12px; }
        .list .menu-wrapper ul li .text:after {
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          border-top: 1px solid rgba(7, 17, 27, 0.1);
          width: 100%;
          content: ''; }
    .list .menu-wrapper ul .current {
      position: relative;
      z-index: 10;
      margin-top: -1px;
      background: #fff; }
      .list .menu-wrapper ul .current .text:after {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        border-top: 1px solid #fff;
        width: 100%;
        content: ''; }
  .list .foods-wrapper {
    padding-left: 80px;
    flex: 1; }
    .list .foods-wrapper .title {
      padding-left: 14px;
      height: 26px;
      line-height: 26px;
      border-left: 2px solid #d9dde1;
      font-size: 12px;
      color: #93999f;
      background: #f3f5f7; }
    .list .foods-wrapper .food-item {
      display: flex;
      margin: 18px;
      padding-bottom: 18px;
      position: relative; }
      .list .foods-wrapper .food-item:after {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        border-top: 1px solid rgba(7, 17, 27, 0.1);
        width: 100%;
        content: ''; }
      .list .foods-wrapper .food-item .img {
        flex: 0 0 57px;
        margin-right: 10px; }
        .list .foods-wrapper .food-item .img img {
          width: 100%; }
      .list .foods-wrapper .food-item .content {
        flex: 1; }
        .list .foods-wrapper .food-item .content .name {
          margin: 2px 0 8px;
          font-size: 14px;
          line-height: 14px;
          height: 14px;
          color: #07111b; }
        .list .foods-wrapper .food-item .content .desc {
          margin-bottom: 8px;
          line-height: 12px;
          font-size: 10px;
          line-height: 10px;
          color: #93999f; }
        .list .foods-wrapper .food-item .content .extra {
          font-size: 10px;
          line-height: 10px;
          color: #93999f; }
        .list .foods-wrapper .food-item .content .price {
          font-weight: 700px;
          line-height: 24px; }
          .list .foods-wrapper .food-item .content .price .now {
            margin-right: 8px;
            font-size: 14px;
            color: #f01414; }
          .list .foods-wrapper .food-item .content .price .old {
            font-size: 10px;
            color: #93999f;
            text-decoration: line-through; }
        .list .foods-wrapper .food-item .content .cartControl-wrapper {
          position: absolute;
          right: 0;
          bottom: 12px; }
          .list .foods-wrapper .food-item .content .cartControl-wrapper .cart-decrease {
            display: inline-block;
            padding: 4px 6px 6px; }
            .list .foods-wrapper .food-item .content .cartControl-wrapper .cart-decrease .icon-jian {
              position: relative;
              display: none;
              width: 20px;
              height: 20px;
              vertical-align: top;
              color: #00a0dc;
              border: 1px solid #00a0dc;
              border-radius: 100%; }
              .list .foods-wrapper .food-item .content .cartControl-wrapper .cart-decrease .icon-jian:after {
                position: absolute;
                top: 50%;
                left: 50%;
                content: "";
                width: 10px;
                height: 1px;
                background: #00a0dc;
                -moz-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
            .list .foods-wrapper .food-item .content .cartControl-wrapper .cart-decrease .cart-count {
              vertical-align: top;
              display: none;
              line-height: 20px;
              font-size: 10px;
              width: 12px;
              text-align: center;
              color: #93999f; }
            .list .foods-wrapper .food-item .content .cartControl-wrapper .cart-decrease .cart-add {
              position: relative;
              display: inline-block;
              width: 20px;
              height: 20px;
              vertical-align: top;
              color: #00a0dc;
              border: 1px solid #00a0dc;
              border-radius: 100%;
              background: #00a0dc; }
              .list .foods-wrapper .food-item .content .cartControl-wrapper .cart-decrease .cart-add:before {
                position: absolute;
                top: 50%;
                left: 50%;
                content: "";
                width: 1px;
                height: 10px;
                background: #fff;
                -moz-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
              .list .foods-wrapper .food-item .content .cartControl-wrapper .cart-decrease .cart-add:after {
                position: absolute;
                top: 50%;
                left: 50%;
                content: "";
                width: 10px;
                height: 1px;
                background: #fff;
                -moz-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }

.shopCart {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 50;
  width: 100%;
  height: 48px; }
  .shopCart .content {
    display: flex;
    background: #141d27; }
    .shopCart .content .content-left {
      flex: 1; }
      .shopCart .content .content-left .logo-wrapper {
        display: inline-block;
        position: relative;
        top: -10px;
        margin: 0 12px;
        padding: 6px;
        width: 56px;
        height: 56px;
        box-sizing: border-box;
        vertical-align: top;
        border-radius: 50%;
        background: #141d27; }
        .shopCart .content .content-left .logo-wrapper .logo {
          width: 100%;
          height: 100%;
          text-align: center;
          border-radius: 50%;
          background: #2b343c; }
          .shopCart .content .content-left .logo-wrapper .logo i {
            line-height: 44px;
            font-size: 36px;
            color: #80858a;
            width: 24px;
            height: 24px;
            display: block;
            margin-left: 10px; }
            .shopCart .content .content-left .logo-wrapper .logo i img {
              width: 100%;
              height: 100%; }
        .shopCart .content .content-left .logo-wrapper .active {
          background: #00a0dc; }
        .shopCart .content .content-left .logo-wrapper .num {
          position: absolute;
          top: 0;
          right: 0;
          display: none;
          width: 24px;
          height: 24px;
          line-height: 24px;
          text-align: center;
          border-radius: 16px;
          font-size: 9px;
          font-weight: 700;
          color: #fff;
          background: #f01414;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4); }
      .shopCart .content .content-left .price {
        display: inline-block;
        vertical-align: top;
        margin-top: 12px;
        line-height: 24px;
        padding-right: 12px;
        box-sizing: border-box;
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        font-size: 16px;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.4); }
      .shopCart .content .content-left .desc {
        display: inline-block;
        vertical-align: top;
        line-height: 24px;
        margin-left: 12px;
        margin-top: 12px;
        color: rgba(255, 255, 255, 0.4);
        font-size: 10px; }
    .shopCart .content .content-right {
      flex: 0 0 105px;
      width: 105px; }
      .shopCart .content .content-right .pay {
        height: 48px;
        line-height: 48px;
        text-align: center;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.4);
        font-weight: 700; }
      .shopCart .content .content-right .not-enough {
        background: #2b333b; }
      .shopCart .content .content-right .enough {
        background: #00b43c;
        color: #fff; }

.detail {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(7, 17, 27, 0.8);
  -webkit-backdrop-filter: blur(10px);
  padding-top: 64px;
  padding-bottom: 64px;
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .detail h2 {
    line-height: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 700px;
    color: #fff; }
  .detail .title {
    width: 80%;
    display: -ms-flexbox;
    display: flex;
    margin: 28px auto 0; }
    .detail .title .line {
      -ms-flex: 1;
      flex: 1;
      position: relative;
      top: -6px;
      border-bottom: 1px solid #fff; }
    .detail .title .text {
      padding: 0 12px;
      font-size: 16px;
      font-weight: 700px;
      color: #fff; }
  .detail .bulletin {
    width: 80%;
    height: 200px;
    margin: 22px auto; }
    .detail .bulletin p {
      padding: 0 12px;
      line-height: 24px;
      font-size: 12px;
      color: #fff; }
  .detail .detail-close {
    position: relative;
    width: 32px;
    height: 32px;
    margin: -64px auto 0;
    clear: both;
    font-size: 32px; }
    .detail .detail-close i {
      display: block;
      width: 32px;
      height: 32px; }
      .detail .detail-close i img {
        width: 100%; }

.detail-info {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 48px;
  z-index: 30;
  width: 100%;
  background: #fff;
  overflow: auto;
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .detail-info .image-header {
    position: relative;
    width: 100%; }
    .detail-info .image-header img {
      width: 100%; }
    .detail-info .image-header .back {
      position: absolute;
      top: 20px;
      left: 10px; }
      .detail-info .image-header .back i:after {
        color: #fff; }
  .detail-info .content {
    position: relative;
    padding: 18px; }
    .detail-info .content h2 {
      line-height: 14px;
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: 700;
      color: #07111b; }
    .detail-info .content .detail-text {
      margin-bottom: 18px;
      line-height: 10px;
      font-size: 0;
      height: 10px; }
      .detail-info .content .detail-text span {
        font-size: 10px;
        display: inline-block;
        color: #93999f; }
    .detail-info .content .price {
      font-weight: 700px;
      line-height: 24px; }
      .detail-info .content .price .now {
        margin-right: 8px;
        font-size: 14px;
        color: #f01414; }
      .detail-info .content .price .old {
        font-size: 10px;
        color: #93999f;
        text-decoration: line-through; }
    .detail-info .content .cartControl-wrapper {
      position: absolute;
      right: 10px;
      bottom: 12px;
      display: none; }
      .detail-info .content .cartControl-wrapper .cart-decrease {
        display: inline-block;
        padding: 4px 6px 6px; }
        .detail-info .content .cartControl-wrapper .cart-decrease .icon-jian {
          position: relative;
          display: none;
          width: 20px;
          height: 20px;
          vertical-align: top;
          color: #00a0dc;
          border: 1px solid #00a0dc;
          border-radius: 100%; }
          .detail-info .content .cartControl-wrapper .cart-decrease .icon-jian:after {
            position: absolute;
            top: 50%;
            left: 50%;
            content: "";
            width: 10px;
            height: 1px;
            background: #00a0dc;
            -moz-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
        .detail-info .content .cartControl-wrapper .cart-decrease .cart-count {
          vertical-align: top;
          display: none;
          line-height: 20px;
          font-size: 10px;
          width: 12px;
          text-align: center;
          color: #93999f; }
        .detail-info .content .cartControl-wrapper .cart-decrease .cart-add {
          position: relative;
          display: inline-block;
          width: 20px;
          height: 20px;
          vertical-align: top;
          color: #00a0dc;
          border: 1px solid #00a0dc;
          border-radius: 100%;
          background: #00a0dc; }
          .detail-info .content .cartControl-wrapper .cart-decrease .cart-add:before {
            position: absolute;
            top: 50%;
            left: 50%;
            content: "";
            width: 1px;
            height: 10px;
            background: #fff;
            -moz-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
          .detail-info .content .cartControl-wrapper .cart-decrease .cart-add:after {
            position: absolute;
            top: 50%;
            left: 50%;
            content: "";
            width: 10px;
            height: 1px;
            background: #fff;
            -moz-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .detail-info .content .buy {
      position: absolute;
      right: 18px;
      bottom: 18px;
      z-index: 10;
      height: 24px;
      line-height: 24px;
      padding: 0 12px;
      box-sizing: border-box;
      border-radius: 12px;
      font-size: 10px;
      color: #fff;
      background: #00a0dc; }
  .detail-info .info {
    border-top: 10px solid #f3f5f7;
    padding: 18px; }
    .detail-info .info h2 {
      line-height: 14px;
      margin-bottom: 6px;
      font-size: 14px;
      color: #07111b; }
    .detail-info .info p {
      font-size: 12px;
      line-height: 24px;
      padding: 0 8px;
      color: #4d555d; }

.detail-info-active {
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.shopcart-list {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 44px;
  z-index: 41;
  width: 100%;
  display: none; }
  .shopcart-list .list-header {
    height: 40px;
    line-height: 40px;
    padding: 0 18px;
    background: #f3f5f7;
    border-bottom: 1px solid rgba(7, 17, 27, 0.1); }
    .shopcart-list .list-header h2 {
      float: left;
      font-size: 14px;
      color: #07111b; }
    .shopcart-list .list-header .empty {
      float: right;
      font-size: 12px;
      color: #00a0dc; }
  .shopcart-list .list-content {
    padding: 0 18px;
    max-height: 217px;
    overflow: auto;
    background: #fff; }
    .shopcart-list .list-content ul li {
      padding: 12px 0;
      box-sizing: border-box;
      position: relative; }
      .shopcart-list .list-content ul li .name {
        line-height: 24px;
        font-size: 14px;
        color: #07111b; }
      .shopcart-list .list-content ul li .price {
        position: absolute;
        right: 90px;
        bottom: 12px;
        line-height: 24px;
        font-size: 14px;
        font-weight: 700;
        color: #f01414; }
      .shopcart-list .list-content ul li .cartControl-wrapper {
        position: absolute;
        right: 0;
        bottom: 12px; }
        .shopcart-list .list-content ul li .cartControl-wrapper .cart-decrease {
          display: inline-block; }
          .shopcart-list .list-content ul li .cartControl-wrapper .cart-decrease .icon-jian {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: top;
            color: #00a0dc;
            border: 1px solid #00a0dc;
            border-radius: 100%; }
            .shopcart-list .list-content ul li .cartControl-wrapper .cart-decrease .icon-jian:after {
              position: absolute;
              top: 50%;
              left: 50%;
              content: "";
              width: 10px;
              height: 1px;
              background: #00a0dc;
              -moz-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
          .shopcart-list .list-content ul li .cartControl-wrapper .cart-decrease .cart-count {
            vertical-align: top;
            display: inline-block;
            line-height: 20px;
            font-size: 10px;
            width: 12px;
            text-align: center;
            color: #93999f; }
          .shopcart-list .list-content ul li .cartControl-wrapper .cart-decrease .cart-add {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: top;
            color: #00a0dc;
            border: 1px solid #00a0dc;
            border-radius: 100%;
            background: #00a0dc; }
            .shopcart-list .list-content ul li .cartControl-wrapper .cart-decrease .cart-add:before {
              position: absolute;
              top: 50%;
              left: 50%;
              content: "";
              width: 1px;
              height: 10px;
              background: #fff;
              -moz-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
            .shopcart-list .list-content ul li .cartControl-wrapper .cart-decrease .cart-add:after {
              position: absolute;
              top: 50%;
              left: 50%;
              content: "";
              width: 10px;
              height: 1px;
              background: #fff;
              -moz-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }

.list-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 40;
  display: none;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  opacity: 1;
  background: rgba(7, 17, 27, 0.6); }

/*# sourceMappingURL=index.css.map */
